@page
@model Practica_lll.Pages.CajeroModel
@{
    ViewData["Title"] = "Cajero Automatico";
}

<div class="text-left">
    <h1 class="display-4">Cajero Automatico Banco ABC || Practica lll</h1>
</div>